.personne {
  background-color: rgb(190, 143, 81);
  margin-bottom: 2rem;
  padding: 0.5rem;
  color: white;
  display: flex;
  flex-flow: column;
}

span {
  margin: 0.1rem;
}

.firstname {

  &::before {
    content: "- ";
  }
}


.supprimer {
  background-color: #4CAF50;
  color: white;
  padding: 1em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: larger;
  order: 1;
  align-self: flex-end;
}
