<mat-card class="personne_card">
  <mat-card-title>
    <span class="index">{{i}}</span>
    <span> - {{personne.civilite}} </span>
    <span class="firstname">{{personne.prenom | upperfirst}}</span>
    <span class="lastname"> {{personne.nom |uppercase }}</span>
  </mat-card-title>
  <div class="contact" *ngIf="displayContact">
    <mat-card-content class="phoneNumber" *ngIf="personne.telephone">
      {{personne.telephone}}
      <p *ngIf="personne.adresse">
        {{personne.adresse}}
      </p>
    </mat-card-content>
  </div>
  <mat-card-actions class="supprimer">
    <button mat-fab color="warn" (click)="onClickBoutonSupprimer(personne)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
