<mat-card>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur veritatis omnis totam iusto laudantium fugit
    dolor rem fuga aliquid optio ratione animi, deserunt voluptatum aut modi sint enim ab adipisci.</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur veritatis omnis totam iusto laudantium fugit
    dolor rem fuga aliquid optio ratione animi, deserunt voluptatum aut modi sint enim ab adipisci.</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur veritatis omnis totam iusto laudantium fugit
    dolor rem fuga aliquid optio ratione animi, deserunt voluptatum aut modi sint enim ab adipisci.</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur veritatis omnis totam iusto laudantium fugit
    dolor rem fuga aliquid optio ratione animi, deserunt voluptatum aut modi sint enim ab adipisci.</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur veritatis omnis totam iusto laudantium fugit
    dolor rem fuga aliquid optio ratione animi, deserunt voluptatum aut modi sint enim ab adipisci.</p>
</mat-card>
